/* 공통 하단배너 */
.bottom-nav {
  width: calc(100% - 14px);
  height: 67px;

  position: absolute;
  left: 7px;
  bottom: 0;

  background: #ffffff;
  border-top: 1px solid #e5e5e5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: #a3a3a3;
  font-size: 12px;
  line-height: 16px;
}

.nav-item span {
  font-size: 18px;
}

.nav-item.active {
  color: #171717;
}

@media (max-width: 430px) {
  body {
    align-items: flex-start;
    background: #ffffff;
  }

  .phone {
    width: 100%;
    height: 100vh;
    min-height: 844px;
  }
}

/*  */